<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<patternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</console>


		<file name="FileLogger" filename="logs/app.log" append="true">
			<filters>
				<thresholdfilter level="error" onMatch="DENY"
					onMismatch="ACCEPT" />

			</filters>
			<patternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</file>

		<file name="ErrorFileLogger" filename="logs/error.log" append="true">
			<filters>
				<thresholdfilter level="error" onMatch="ACCEPT"
					onMismatch="DENY" />

			</filters>
			<patternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</file>
	</appenders>
	<loggers>
		<logger name="com.orangehrm" level="trace" additivity="false">

			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLogger" />
			<AppenderRef ref="ErrorFileLogger" />

		</logger>
	</loggers>
</configuration>